POSTGRES_DB=psilo
POSTGRES_USER=psilo
POSTGRES_PASSWORD=psilo
DATABASE_URL=postgresql://psilo:psilo@localhost:5432/psilo?schema=public
REDIS_URL=redis://redis:6379
ADMIN_API_PORT=4000
USER_API_PORT=4001
ADMIN_WEB_PORT=3000
USER_WEB_PORT=3001
